.carousel {
  position: relative;

  &__container {
    border: 2px solid tomato;
  }
  
  &__title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 50px;
    text-align: center;
    background-color: grey;
    margin-top: 150px;
    padding: 20px 0 30px;
  }

  &__item {
  }

  &__subtitle {
    padding: 4vw 24vw 2vw;
    font-family: 'Fira Code Medium', sans-serif;
    font-size: 35px;
    user-select: none;
  }

  &__text {
    padding: 0 15vw;
    font-family: "JetBrains Mono Medium", sans-serif;
    font-size: 23px;
    line-height: 120%;
    letter-spacing: 0.01em;
    user-select: none;
  }

  &__images-container {
    height: 50vh;
    margin: 5vh 0 0;

    .swiper-pagination-bullet {
      width: 20px;
      height: 20px;
      background-color: purple;
    }
  }

  &__image {
    width: max-content;
    height: 45vh;
    margin: 0 auto;
  }
  
  &__button {
    position: absolute;
    top: 50%;
    z-index: 50;

    height: 50px;
    transform: translateY(-50%);
    cursor: pointer;

    &_prev {
      left: 5vw;
      transform: translateY(-50%) rotate(180deg);
    }

    &_next {
      right: 5vw;
    }
  }
}